body {
	font-family: "Raleway", "Regular";
	max-width: 1440px;
	margin: auto;
  }
  section {
	margin-left: 45px;
  }
  a {
	color: inherit;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
  }
  h2 {
	font-size: 22px;
	font-weight: 900;
  }
  h3 {
	font-size: 16px;
  }
  h4 {
	font-size: 16px;
  }
  
  input[type="text"] {
	padding-left: 20px;
  }
  figure {
	margin: 0px;
  }
  
  /* CSS ID */
  
  /*search tab*/
  
  .btn {
	background-color: #0065fc;
	font-size: 18px;
	outline: none;
	color: white;
	padding: 14px 20px;
	border: none;
	cursor: pointer;
	max-width: 135px;
	border-radius: 0px 20px 20px 0px;
  }
  
  .fas {
	color: #0065fc;
	background-color: #deebff;
	padding: 18px 15px 12px;
	border-radius: 50%;
	width: 26px;
	height: 26px;
	text-align: center;
	line-height: 0px;
	vertical-align: middle;
	position: absolute;
  }
  
  
  /*Filters Tab*/
  
  .filtersName {
	cursor: pointer;
	z-index: 1;
	height: 50px;
	padding-left: 60px;
	padding-right: 10px;
	border: #f2f2f2;
	border-width: medium;
	border-style: solid;
	border-radius: 30px;
  }
  .filtersName:hover {
	background-color: #f2f2f2;
	color: #0065fc;
	font-size: 20px;
  }
  .filtersNameWrapicon {
	margin-top: -3px;
	margin-left: -63px;
  }
  .fas.fa-info-circle {
	margin-top: -15px;
	margin-left: -45px;
	width: 8px;
	height: 8px;
	background-color: white;
  }
  .fas.fa-map-marker-alt {
	color: black;
	width: 20px;
	height: 20px;
	border-radius: 15px 0px 0px 15px;
	background-color: #f2f2f2;
  }
  .fas.fa-chart-line {
  color: black;
  width: 20px;
  height: 20px;
  margin: -52px 300px;
  background-color: #f2f2f2;
  }
  
  
  /*lodging tab*/
  
  .lodgingListContainer {
	width: 250px;
	height: 200px;
	background-color: white;
	border-radius: 20px 20px 20px 20px;
	-webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
	margin-bottom: 30px;
  }
  .lodgingListContainerImg {
	padding: 5px;
	width: 235px;
	height: 120px;
	overflow: hidden;
	border-radius: 20px 20px 0px 0px;
	margin: auto;
	display: block;
	-o-object-fit: cover;
	object-fit: cover;
  }
  .lodgingCaptionList {
	margin-top: -10px;
	line-height: 0%;
	font-size: 14px;
	margin-left: 15px;
	max-width: 180px;
  }
  .lodgingTopContainer {
	width: 300px;
	height: 145px;
	background-color: white;
	border-radius: 20px 20px 20px 20px;
	-webkit-box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
	box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-bottom: 30px;
  }
  .lodgingTopContainerImg {
	width: 150px;
	height: 135px;
	overflow: hidden;
	margin: auto;
	margin-left: 5px;
	border-radius: 20px 0px 0px 20px;
	-o-object-fit: cover;
	object-fit: cover;
  }
  .lodgingCaptionTop {
	margin-top: -5px;
	font-size: 14px;
	max-width: 180px;
  }
  .fas.fa-star {
	margin: -9px;
	margin-top: 5px;
	position: relative;
	background-color: transparent;
	padding: 2px;
  }
  .fas.fa-star.empty {
	color: #c3c3c3;
  }
  .starsContainerTop {
	background-color: transparent;
	position: relative;
	margin-top: 22px;
  }
  .starsContainerList {
	background-color: transparent;
	position: relative;
  }
  
  
  /*Activity Tab*/
  
  .activitySmallContainer {
	width: 300px;
	height: 170px;
	overflow: hidden;
	border-radius: 15px 15px 15px 15px;
	-o-object-fit: cover;
	object-fit: cover;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
  }
  .activitySmallContainerImg {
	width: 300px;
	height: 120px;
	border-radius: 0px;
	-o-object-fit: cover;
	object-fit: cover;
  }
  .activityMediumContainer {
	width: 300px;
	height: 230px;
	overflow: hidden;
	border-radius: 15px 15px 15px 15px;
	-o-object-fit: cover;
	object-fit: cover;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
  }
  .activityMediumContainerImg {
	width: 300px;
	height: 180px;
	border-radius: 0px;
	-o-object-fit: cover;
	object-fit: cover;
  }
  .activityLargeContainer {
	width: 300px;
	height: 440px;
	overflow: hidden;
	border-radius: 15px 15px 15px 15px;
	-o-object-fit: cover;
	object-fit: cover;
	-webkit-box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.05);
  }
  .activityLargeContainerImg {
	width: 300px;
	height: 390px;
	border-radius: 0px;
	-o-object-fit: cover;
	object-fit: cover;
  }
  .activityCaption {
	margin-left: 15px;
	margin-top: 10px;
  }
  
  
  /* CSS CLASS */
  
  /* Header and nav */
  
  #logo {
	margin-top: 20px;
	margin-left: 45px;
  }
  #nav {
	margin: -67px 5% 30px 25%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-wrap: wrap-reverse;
	flex-wrap: wrap-reverse;
  }
  #navLink_register {
	padding: 30px 0px;
	border-width: 2px 0px 0px 0px;
	color: #0065fc;
	font-weight: bolder;
  }
  #navLink_register:hover {
	border-style: solid;
	margin-top: -2px;
  }
  #navLink_lodging {
	padding: 30px 0px;
	border-width: 2px 0px 0px 0px;
	color: #0065fc;
  }
  #navLink_lodging:hover {
	border-style: solid;
	margin-top: -2px;
  }
  #navLink_activity {
	padding: 30px 0px;
	border-width: 2px 0px 0px 0px;
  }
  #navLink_activity:hover {
	border-style: solid;
	margin-top: -2px;
  }
  #anchors {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-left: auto;
	margin-right: 50px;
  }
  #anchors a {
	margin-left: 40px;
  }
  #mobileBtn {
	display: none;
  }
  
  
  /* Search tab */
  
  #searchBar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 15px;
  }
  #searchField {
	line-height: 46px;
	font-size: 18px;
	outline: none;
	border-width: 1px;
	width: 235px;
	margin-left: 50px;
	border-color: #f2f2f2;
	border-style: solid;
  }
  #searchField::-webkit-input-placeholder {
	opacity: 1;
	padding-left: 20px;
	font-weight: bolder;
	color: black;
  }
  #searchField::-moz-placeholder {
	opacity: 1;
	padding-left: 20px;
	font-weight: bolder;
	color: black;
  }
  #searchField:-ms-input-placeholder {
	opacity: 1;
	padding-left: 20px;
	font-weight: bolder;
	color: black;
  }
  #searchField::-ms-input-placeholder {
	opacity: 1;
	padding-left: 20px;
	font-weight: bolder;
	color: black;
  }
  #searchField::placeholder {
	opacity: 1;
	padding-left: 20px;
	font-weight: bolder;
	color: black;
  }
  #searchField:focus::-webkit-input-placeholder {
	padding-left: 20px;
	color: transparent;
  }
  #searchField:focus::-moz-placeholder {
	padding-left: 20px;
	color: transparent;
  }
  #searchField:focus:-ms-input-placeholder {
	padding-left: 20px;
	color: transparent;
  }
  #searchField:focus::-ms-input-placeholder {
	padding-left: 20px;
	color: transparent;
  }
  #searchField:focus::placeholder {
	padding-left: 20px;
	color: transparent;
  }
  
  
  /* Filters tab */
  
  #filtersTab {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: left;
	-ms-flex-pack: left;
	justify-content: left;
  }
  #filtersTab div,
  h3 {
	margin-right: 25px;
  }
  #info {
	margin: 25px;
	margin-left: 80px;
  }
  
  
  /* Lodging tab */
  
  #lodgingTab {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap-reverse;
	flex-wrap: wrap-reverse;
	-webkit-box-pack: left;
	-ms-flex-pack: left;
	justify-content: left;
  }
  #lodgingListTabContainer {
	border-radius: 15px 15px 15px 15px;
	background-color: #f2f2f2;
	max-width: 800px;
	padding: 10px 40px;
	margin-right: 40px;
	margin-top: 20px;
  }
  #lodgingList {
	border-radius: 15px 15px 15px 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
  }
  #lodgingTopTabContainer {
	border-radius: 15px 15px 15px 15px;
	background-color: #f2f2f2;
	max-width: 420px;
	padding: 10px 40px;
	margin-top: 20px;
  }
  
  
  /* Activity Tab */
  
  #activityTab {
	margin-top: 50px;
  }
  #activityTabContainer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: left;
	-ms-flex-pack: left;
	justify-content: left;
	max-width: 1440px;
  }
  #activityTabContainerLeft {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	max-width: 300px;
	margin-right: 100px;
  }
  #activityTabContainerLeft a{
	display: inline-block;
	margin: 0px 0px 40px 50px;
  }
  #activityTabContainerRight {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	max-width: 300px;
  }
  #activityTabContainerRight a{
	display: inline-block;
	margin: 0px 0px 40px 50px;
  }
  
  
  /*footer tab*/
  
  #footer {
	line-height: 28px;
	margin-top: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: left;
	-ms-flex-pack: left;
	justify-content: left;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	background: #f2f2f2;
	max-width: 3840px;
	min-width: 380px;
	padding: 50px;
	max-height: -webkit-fit-content;
	max-height: -moz-fit-content;
	max-height: fit-content;
  }
  #footer div {
	margin-right: 10%;
  }
  #about {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
  }
  #ourLodging {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
  }
  #help {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	  margin-left : -2%;
	  
  }
